<div class="container">
  <div class="row">
    {{#with user}}
    <div class="col-md-6">
      <h2>My Account</h2>
      <hr>
      <div class="row">
        <div class="col-sm-4">
          <img src="{{imgPath}}" alt="Foto de perfil" class="profile-pic">
        </div>
        <div class="col-sm-8">
          <ul>
            <li>Username: {{username}}</li>
            <br>
            <li>E-Mail: {{email}}</li>
            <br>
            <li>Age: {{age}}</li>
            <br>
            <li>Gender: {{gender}}</li>
          </ul>
        </div>
      </div>
      <a href="/account/edit" class="btn btn-dark">Edit</a>
    </div>
    {{/with}}
    <div class="col-md-6">
      <h2>Your daily summary</h2>
      <hr>
      <h3>{{data.leftCalories}} <span class="format-normal">Calories left</span></h3>
      <p>Objective calories: {{data.objectiveCalories}}</p>
      <div class="progress">
        <div class="progress-bar bg-bar-calories" role="progressbar" aria-valuenow="100" aria-valuemin="0"
          aria-valuemax="2000" style="max-width:{{data.percentageCalories}}%">
        </div>
      </div>
      <br>
      <p>Left proteins: {{data.leftProteins}}g</p>
      <div class="progress">
        <div class="progress-bar bg-bar-protein" role="progressbar" aria-valuenow="100" aria-valuemin="0"
          aria-valuemax="2000" style="max-width:{{data.percentageProtein}}%">
        </div>
      </div>
      <br>
      <p>Left fats: {{data.leftFats}}g</p>
      <div class="progress">
        <div class="progress-bar bg-bar-fats" role="progressbar" aria-valuenow="100" aria-valuemin="0"
          aria-valuemax="2000" style="max-width:{{data.percentageFats}}%">
        </div>
      </div>
      <br>
      <p>Left carbs: {{data.leftCarbs}}g</p>
      <div class="progress">
        <div class="progress-bar bg-bar-carbs" role="progressbar" aria-valuenow="100" aria-valuemin="0"
          aria-valuemax="2000" style="max-width:{{data.percentageCarbs}}%">
        </div>
      </div>

    </div>
  </div>
</div>