<div class="container">
  <div class="row">
    {{#with user}}
    <div class="col-md-6">
      <h2>My Account</h2>
      <hr>
      <ul>
        <li>Username: {{username}}</li>
        <br>
        <li>E-Mail: {{email}}</li>
        <br>
        <li>Age: {{age}}</li>
        <br>
        <li>Gender: {{gender}}</li>
      </ul>
      <a href="#" class="btn btn-dark">Edit</a>
    </div>
    {{/with}}
    <div class="col-md-6">
      <h2>Your daily summary</h2>
      <hr>
      <h3>{{data.leftCalories}}</h3>
      <span>Left calories</span>
      <p>Objective calories: {{data.objectiveCalories}}</p>
      <p>Left proteins: {{data.leftProteins}}g</p>
      <p>Left fats: {{data.leftFats}}g</p>
      <p>Left carbs: {{data.leftCarbs}}g</p>

    </div>
  </div>
</div>