<nav class="navbar navbar-expand-lg navbar-dark nav-background">
  <a class="navbar-brand" href="/login">Bodylicious</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar1" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbar1">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/login">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/signup">Signup</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
      </li>
    </ul>
  </div>
</nav>
<nav class="navbar navbar-expand-lg navbar-light nav2-background">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/account">Account</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/diary">Diary</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/account/my-goals">Goals</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container">
  <h2>Edit</h2>
  <div class="row">
    <div class="col-md-6">
      <form action="/account/edit" method="post">
        <div class="form-group">
          <label for="username">Username</label>
          <input id="username" type="text" name="username" value="{{user.username}}" class="form-control">
        </div>
        <br>
        <div class="form-group">
          <label for="email">Email</label>
          <input id="email" type="email" name="email" value="{{user.email}}" class="form-control">
        </div>
        <br>
        <div class="form-group">
          <label for="gender">Gender</label>
          <select id="gender" type="text" name="gender" value="{{user.gender}}" class="form-control">
            <option value="male">Male</option>
            <option value="female">Female</option>
          </select>
        </div>
        <br>
        <div class="form-group">
          <label for="age">Age</label>
          <input id="age" type="number" name="age" value="{{user.age}}" class="form-control">
        </div>
        <br>
        {{#if message}}
        <p>{{message}}</p>
        {{/if}}
        <button class="btn btn-dark">Edit</button>
      </form>
    </div>
  </div>
</div>