<div class="bg-bn">

  <nav class="navbar navbar-expand-lg navbar-dark nav-background">
    <a class="navbar-brand" href="/login">Bodylicious</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar1" aria-controls="navbarNav"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar1">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/signup">Signup</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout">Logout</a>
        </li>
      </ul>
    </div>
  </nav>
  <nav class="navbar navbar-expand-lg navbar-light nav2-background">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/account">Account</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/diary">Diary</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/account/my-goals">Goals</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container">
    <h1 class="colgoalsh1">My Goals</h1>
    <div class="row">
      <div class="col-md-6">
        <form action="/account/my-goals" method="POST" id="form-container" class="colgoals">
          <label for="calories">Calories</label>
          <input id="calories" type="number" name="calories" value="{{user.calories}}" class="form-control inputs">

          <br>

          <label for="carbohydrates">Carbohydrates</label>
          <input id="carbohydrates" type="number" name="carbohydrates" value="{{user.carbohydrates}}"
            class="form-control inputs">
          <br>

          <label for="proteins">Proteins</label>
          <input id="proteins" type="number" name="proteins" value="{{user.proteins}}" class="form-control inputs">
          <br>

          <label for="fats">Fats</label>
          <input id="fats" type="number" name="fats" value="{{user.fats}}" class="form-control inputs">
          <br>
          {{#if message }}
          <div class="error-message">{{ message }}</div>
          {{/if}}



          <button class="btn btn-dark coolbutton updatebutton">Update your goals</button>
        </form>
      </div>
      <div class="col-md-6">
        <figure>
          <canvas id="goals-chart"></canvas>
        </figure>
      </div>

    </div>

  </div>
</div>