<div class="container">
  <h2>Food Diary</h2>
  <form action="/diary" method="post">
    <h4>Your Food Diary for:</h4>
    <input type="date" name="date" id="date" class="form-control">
    <button class="btn btn-dark">Update</button>
  </form>
  <br>
  <h5><strong>Breakfast</strong></h5>
  <hr>
  <div class="row">
    {{#each meals.breakfast}}
    <div class="col-6">
      <p>{{foodName}}</p>
    </div>

    <div class="col-6">
      <p>Calories: {{foodNutrients.0.value}}kcal Proteins: {{foodNutrients.1.value}}g Fats: {{foodNutrients.2.value}}g
        Carbohydrates: {{foodNutrients.3.value}}g</p>
    </div>
    {{/each}}
  </div>

  <a href='/diary/add'>Add food</a>
  <br><br>

  <h5><strong>Lunch</strong></h5>
  <hr>
  <div class="row">
    {{#each meals.lunch}}
    <div class="col-6">
      <p>{{foodName}}</p>
    </div>
    <div class="col-6">
      <p>Calories: {{foodNutrients.0.value}}kcal Proteins: {{foodNutrients.1.value}}g Fats: {{foodNutrients.2.value}}g
        Carbohydrates: {{foodNutrients.3.value}}g</p>
    </div>
    {{/each}}
  </div>

  <a href='/diary/add'>Add food</a>
  <br><br>

  <h5><strong>Dinner</strong></h5>
  <hr>
  <div class="row">
    {{#each meals.dinner}}
    <div class="col-6">
      <p>{{foodName}}</p>
    </div>

    <div class="col-6">
      <p>Calories: {{foodNutrients.0.value}}kcal Proteins: {{foodNutrients.1.value}}g Fats: {{foodNutrients.2.value}}g
        Carbohydrates: {{foodNutrients.3.value}}g</p>
    </div>
    {{/each}}
  </div>

  <a href='/diary/add'>Add food</a>
  <br><br>

  <h5><strong>Snacks</strong></h5>
  <hr>


  <div class="row">
    {{#each meals.snacks}}
    <div class="col-6">
      <p>{{foodName}}</p>
    </div>
    <div class="col-6">
      <p>Calories: {{foodNutrients.0.value}}kcal Proteins: {{foodNutrients.1.value}}g Fats: {{foodNutrients.2.value}}g
        Carbohydrates: {{foodNutrients.3.value}}g</p>
    </div>
    {{/each}}
  </div>

  <a href='/diary/add'>Add food</a>
</div>


</div>
</div>