<div class="container">
  <h1>Food Diary</h1>
  <br>
  <form action="/diary" method="post">
    <h5>My Food Diary for:</h5>

    <div class="flex">
      <input type="date" name="date" id="date" class="form-control inputs">
      <button class="btn btn-dark margin-btn coolbutton updatebutton">Update</button>
    </div>
    <br>

  </form>
  <br>
  <h5 class="objectives">Breakfast</h5>
  <a href='/diary/add'>Add food</a>
  <hr>
  <div class="row">
    {{#each meals.breakfast}}
    <div class="col-md-4">
      <p>{{foodName}}</p>
    </div>

    <div class="col-md-8">
      <p><span class="objectives">Calories:</span> {{foodNutrients.0.value}}kcal <span
          class="objectives">Proteins:</span> {{foodNutrients.1.value}}g
        <span class="objectives">Fats:</span> {{foodNutrients.2.value}}g
        <span class="objectives">Carbohydrates:</span> {{foodNutrients.3.value}}g</p>
    </div>
    {{/each}}
  </div>

  <br><br>

  <h5 class="objectives">Lunch</h5>
  <a href='/diary/add'>Add food</a>
  <hr>
  <div class="row">
    {{#each meals.lunch}}
    <div class="col-md-4">
      <p>{{foodName}}</p>
    </div>
    <div class="col-md-8">
      <p><span class="objectives">Calories:</span> {{foodNutrients.0.value}}kcal
        <span class="objectives">Proteins: </span> {{foodNutrients.1.value}}g
        <span class="objectives">Fats:</span> {{foodNutrients.2.value}}g
        <span class="objectives">Carbohydrates:</span> {{foodNutrients.3.value}}g</p>

    </div>
    {{/each}}
  </div>


  <br><br>

  <h5 class="objectives">Dinner</h5>
  <a href='/diary/add'>Add food</a>
  <hr>
  <div class="row">
    {{#each meals.dinner}}
    <div class="col-md-4">
      <p>{{foodName}}</p>
    </div>

    <div class="col-md-8">
      <p><span class="objectives">Calories:</span> {{foodNutrients.0.value}}kcal
        <span class="objectives">Proteins:</span> {{foodNutrients.1.value}}g
        <span class="objectives">Fats:</span> {{foodNutrients.2.value}}g
        <span class="objectives">Carbohydrates: </span> {{foodNutrients.3.value}}g</p>
    </div>
    {{/each}}
  </div>

  <br><br>

  <h5 class="objectives">Snacks</h5>
  <a href='/diary/add'>Add food</a>
  <hr>


  <div class="row">
    {{#each meals.snacks}}
    <div class="col-md-4">
      <p>{{foodName}}</p>
    </div>
    <div class="col-md-8">
      <p><span class="objectives">Calories:</span> {{foodNutrients.0.value}}kcal
        <span class="objectives">Proteins:</span> {{foodNutrients.1.value}}g
        <span class="objectives">Fats:</span> {{foodNutrients.2.value}}g
        <span class="objectives">Carbohydrates:</span> {{foodNutrients.3.value}}g</p>
    </div>
    {{/each}}
  </div>

</div>


</div>
</div>