<nav class="navbar navbar-expand-lg navbar-dark nav-background">
  <a class="navbar-brand" href="/login">Bodylicious</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar1" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbar1">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/login">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/signup">Signup</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
      </li>
    </ul>
  </div>
</nav>
<nav class="navbar navbar-expand-lg navbar-light nav2-background">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/account">Account</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/diary">Diary</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/account/my-goals">Goals</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container">
  <h1>Food Diary</h1>
  <br>
  <form action="/diary" method="post">
    <h5>My Food Diary for:</h5>

    <div class="flex">
      <input type="date" name="date" id="date" class="form-control inputs">
      <button class="btn btn-dark margin-btn coolbutton updatebutton">Update</button>
    </div>
    <br>

  </form>
  <br>
  <h5 class="objectives">Breakfast</h5>
  <a href='/diary/add'>Add food</a>
  <hr>
  <div class="row">
    {{#each meals.breakfast}}
    <div class="col-md-3">
      <p>{{foodName}}</p>
    </div>

    <div class="col-md-9">
      <p class="diaryfoods"><span class="objectives diaryfoods">Calories:</span> {{foodNutrients.0.value}} kcal
        &nbsp &nbsp<span class="objectives">Proteins:</span> {{foodNutrients.1.value}} g
        &nbsp &nbsp<span class="objectives">Fats:</span> {{foodNutrients.2.value}} g
        &nbsp &nbsp<span class="objectives">Carbohydrates:</span> {{foodNutrients.3.value}} g</p>
    </div>
    {{/each}}
  </div>

  <br><br>

  <h5 class="objectives">Lunch</h5>
  <a href='/diary/add'>Add food</a>
  <hr>
  <div class="row">
    {{#each meals.lunch}}
    <div class="col-md-3">
      <p>{{foodName}}</p>
    </div>
    <div class="col-md-9">
      <p class="diaryfoods"><span class="objectives">Calories:</span> {{foodNutrients.0.value}} kcal
        &nbsp &nbsp<span class="objectives">Proteins: </span> {{foodNutrients.1.value}} g
        &nbsp &nbsp<span class="objectives">Fats:</span> {{foodNutrients.2.value}} g
        &nbsp &nbsp<span class="objectives">Carbohydrates:</span> {{foodNutrients.3.value}} g</p>

    </div>
    {{/each}}
  </div>


  <br><br>

  <h5 class="objectives">Dinner</h5>
  <a href='/diary/add'>Add food</a>
  <hr>
  <div class="row">
    {{#each meals.dinner}}
    <div class="col-md-3">
      <p>{{foodName}}</p>
    </div>

    <div class="col-md-9">
      <p class="diaryfoods"><span class="objectives">Calories:</span> {{foodNutrients.0.value}} kcal
        &nbsp &nbsp<span class="objectives">Proteins:</span> {{foodNutrients.1.value}} g
        &nbsp &nbsp<span class="objectives">Fats:</span> {{foodNutrients.2.value}} g
        &nbsp &nbsp<span class="objectives">Carbohydrates: </span> {{foodNutrients.3.value}} g</p>
    </div>
    {{/each}}
  </div>

  <br><br>

  <h5 class="objectives">Snacks</h5>
  <a href='/diary/add'>Add food</a>
  <hr>


  <div class="row">
    {{#each meals.snacks}}
    <div class="col-md-3">
      <p>{{foodName}}</p>
    </div>
    <div class="col-md-9">
      <p class="diaryfoods"><span class="objectives">Calories:</span> {{foodNutrients.0.value}} kcal
        &nbsp &nbsp<span class="objectives">Proteins:</span> {{foodNutrients.1.value}} g
        &nbsp &nbsp<span class="objectives">Fats:</span> {{foodNutrients.2.value}} g
        &nbsp &nbsp<span class="objectives">Carbohydrates:</span> {{foodNutrients.3.value}} g</p>
    </div>
    {{/each}}
  </div>

</div>


</div>
</div>